.navbar {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  border-bottom: 1px solid hsl(220, 14%, 75%);
  margin: 0rem 10rem;
  color: hsl(219, 9%, 45%);
}

.logo__main {
  margin: 2.5rem 0;
}
.logo__main:hover {
  cursor: pointer;
}

.Menubar__lists {
  display: flex;
  gap: 2rem;
}

.menu__list {
  list-style: none;
  padding: 2.5rem 0rem;
  margin-bottom: 4px;
}

.menu__list:hover {
  cursor: pointer;
  border-bottom: 4px solid hsl(26, 100%, 55%);
  margin-bottom: 0;
  color: hsl(220, 13%, 13%);
}

.navbar__part-1,
.navbar__part-2 {
  align-items: center;

  gap: 3rem;
  display: flex;
  flex-direction: row;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 100%;
}

.avatar:hover {
  cursor: pointer;
  border: 3px solid hsl(26, 100%, 55%);
  padding: 0;
}

.cart:hover {
  cursor: pointer;
  /* background-image: url("../../public/images/icon-cart-white.svg"); */
}

.navbar__cart {
  position: relative;
}
.product__number__design {
  left: 0.8rem;
  top: -7px;

  position: absolute;
  background-color: hsl(26, 100%, 55%);
  color: white;
  font-weight: 700;
  padding: 0.1rem 0.5rem;
  border-radius: 40px;
  font-size: 0.7rem;
}

.cart__details__box {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
  position: absolute;
  background-color: white;
  width: 18rem;
  height: 11rem;
  border-radius: 10px;
  left: -8rem;
  top: 3rem;
  display: flex;
  flex-direction: column;
}
.cart__title {
  padding-left: 1rem;
  padding-top: 1rem;
  color: black;
  font-weight: 700;
}
.hr {
  margin-top: 1rem;
  background-color: hsl(220, 14%, 75%);
  height: 1px;
  border: 0;
}

.checkout {
  font-size: 0.9rem;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cart__empty {
  font-weight: 700;
}
