.Image__Product_section {
  display: flex;
  gap: 1.5rem;
  flex-direction: column;
}
.main__big_product_image {
  width: 23rem;
  height: 23rem;
  border-radius: 10px;
}

.four__small_product_image {
  display: flex;
  gap: 1rem;
}

.small__product_image {
  width: 5rem;
  height: 5rem;
  position: relative;
  border-radius: 10px;
}

.small__product_image:hover {
  cursor: pointer;
}
.small__image {
  border-radius: 10px;
  width: 100%;
  height: auto;
  max-width: 100%;
}

.hover__white {
  position: absolute;
  width: 5rem;
  height: 5rem;

  z-index: 1;
  left: 0;
  top: 0;
  border-radius: 10px;
}
.hover__white:hover {
  background-color: hsla(230, 60%, 98%, 0.578);
}
.radiobtn {
  appearance: none;
  cursor: pointer;
}
.radioValue {
  cursor: pointer;
}
.radiobtn:checked + label .hover__white {
  border: 3px solid hsl(26, 100%, 55%);
  background-color: hsla(230, 60%, 98%, 0.578);
}
